{% extends 'base.html.twig' %}

{% block title %}Mein Blog{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-12 mx-auto">
                <div id="comments" class="bg-gray mt-5">
                    <div class="comments-thread">
                        <h4 class="mb-4">{{ blogArticles|length }} Blogeinträge</h4>
                        <ul class="comments-list mb-0 list-unstyled">
                            <li>
                                {% for blogArticle in blogArticles %}
                                    <div class="comment comment-box position-relative">
                                        <div class="comment-meta d-flex align-items-center mb-2">
                                            <h5 class="mb-0">{{ blogArticle.title }}</h5>
                                            <span class="text-theme ml-3">{{ blogArticle.publish }}</span>
                                            <span class="text-theme ml-3">
                                             <input type="checkbox" id="active" onclick="return false;" name="active"
                                                    value="{% if blogArticle.active == true %}1{% else %}0{% endif %}"
                                            {% if blogArticle.active == true %} checked {% endif %}
                                    >
                                            </span>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-2 col-md-12 mx-auto">
                                                <img style="width: 100%" src="{{ blogArticle.image }}" >
                                            </div>
                                            <div class="col-lg-10 col-md-12 mx-auto">
                                                <p class="mb-0">{{ blogArticle.description }}</p>
                                            </div>
                                        </div>
                                        <div class="recipe-rating-stars my-blog-list">
                                            <i><a class="theme-btn-green" href="{{ path('blog_edit',{id:blogArticle.id}) }}" >BEARBEITEN</a></i>
                                            <i><a class="theme-btn-blue" href="{{ path('blog_detail',{id:blogArticle.id}) }}">VORSCHAU</a></i>
                                            <i><a class="theme-btn-danger" href="{{ path('blog_delete',{id:blogArticle.id}) }}">LÖSCHEN</a></i>
                                        </div>
                                    </div>
                                {% endfor %}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
