<form method="post" action="{{ path('liste_delete', {'id': liste.id}) }}" onsubmit="return confirm('Bist Du dir da ganz sicher?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ liste.id) }}">
    <button class="btn btn-danger">Löschen</button>
</form>
