{% extends 'base.html.twig' %}

{% block title %}Edit Liste{% endblock %}

{% block body %}
    <h1>Edit Liste</h1>

    {{ include('liste/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('liste_index') }}">Zurück zur Liste</a>

    {{ include('liste/_delete_form.html.twig') }}
{% endblock %}
