{% extends 'base.html.twig' %}

{% block title %}Liste index{% endblock %}

{% block body %}
    <div class="container">


    <h1>Liste index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>User</th>
                <th>User_id</th>
                <th>Email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for liste in listes %}
            <tr>
                <td>{{ liste.id }}</td>
                <td>{{ liste.user }}</td>
                <td>{{ liste.userId }}</td>
                <td>{{ liste.email }}</td>
                <td>
                    <a href="{{ path('liste_show', {'id': liste.id}) }}">Anzeigen</a>
                    <a href="{{ path('liste_edit', {'id': liste.id}) }}">Bearbeiten</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('liste_new') }}">Neuer Eintrag</a>
    </div>
{% endblock %}
