{% extends 'base.html.twig' %}

{% block title %}Liste{% endblock %}

{% block body %}
    <h1>Liste</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ liste.id }}</td>
            </tr>
            <tr>
                <th>User</th>
                <td>{{ liste.user }}</td>
            </tr>
            <tr>
                <th>User_id</th>
                <td>{{ liste.userId }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ liste.email }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('liste_index') }}">Zurück</a>

    <a href="{{ path('liste_edit', {'id': liste.id}) }}">Bearbeiten</a>

    {{ include('liste/_delete_form.html.twig') }}
{% endblock %}
