{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    {% if error %}
        <div class="alert alert-danger">Unbekannter Benutzer</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Du bist eingeloggt als {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <br>

    <section class="pt-110 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-12">
                    {{ form_start(loginForm) }}
                    <div class="my-custom-class-for-errors">
                        {{ form_errors(loginForm) }}
                    </div>
                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >

                    {{ form_widget(loginForm.username, {'full_name':'username','attr': {
                        'id':'inputUsername',
                        'class': 'w-100 form-control',
                        'placeholder': 'Benutzername',
                        'name': 'username'
                    }}) }}
                    <br>
                    {{ form_widget(loginForm.password, {'full_name':'password','attr': {
                        'id':'inputUsername',
                        'class': 'w-100 form-control'
                    }}) }}
                    <br>
                    {{ form_widget(loginForm.login, {'attr': {'class': 'theme-btn-secondary mt-20'}}) }}


                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >
                    {{ form_end(loginForm) }}
                    <br>
                </div>
                <div class="col-lg-7 col-md-12">
                    <h3 class="contact-icon-title">Du hast noch kein Account?</h3>
                    <p class="fs-18">Mit einem Account hast Du die Möglichkeit Rezepte einzustellen, Bewertungen zu schreiben oder auch Deine Lieblingsrezepte zu Deinen Favoriten hinzuzufügen.</p>
                    <div><a class="theme-btn-secondary" href="{{ path('register') }}" title="">REGISTRIEREN</a></div>

                </div>
            </div>
        </div>
    </section>

{% endblock %}
