{% extends 'base.html.twig' %}

{% block title %}Erstelle Dein Rezept{% endblock %}

{% block body %}
    <form name="form" method="post" style="width: 100%;">
        <div class="container">
            <div class="row">
                    <div class="col-lg-5 col-md-12">
                        <div id="form">
                            <div>
                                <input type="text" name="title" required="required" placeholder="Titel">
                            </div>
                            <div>
                                <input type="text" name="description" required="required" placeholder="Kurzbeschreibung">
                            </div>
                            <div>
                                <textarea class="w-100 rating-area" name="additional" placeholder="Beschreibung"></textarea>
                            </div>
                            <div><button type="submit"  name="form[createRecipe]" class="theme-btn-secondary">Speichern</button></div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-12">
                        <div id="form" class="ingredients">
                            <div class="tpl">
                                <select name="ingredients[1][oil]" >
                                    <option value="Pflegeöl" selected>Pflegeöl</option>
                                    <option value="Wasser" >Wasser</option>
                                    <option value="Zitrone" >Zitrone</option>
                                    <option value="Orange" >Orange</option>
                                    <option value="Bergamotte" >Bergamotte</option>
                                    <option value="Eukalyptus" >Eukalyptus</option>
                                    <option value="Pfefferminz" >Pfefferminz</option>
                                    <option value="Lavendel" >Lavendel</option>
                                    <option value="Thymian" >Thymian</option>
                                    <option value="Zedern" >Zedern</option>
                                </select>
                                <input class="create-lot-input" type="number" name="ingredients[1][lot]" required="required" value="100">
                                <select name="ingredients[1][unit]" >
                                    <option value="ML" selected>ML</option>
                                    <option value="Tropfen">Tropfen</option>
                                </select>
                            </div>
                            <div class="ingredients-add">

                            </div>
                            <div><a class="theme-btn-add">+ HINZUFÜGEN</a></div>
                        </div>
                    </div>

            </div>
        </div>
    </form>
{% endblock %}

{% block additionaljavaScriptsEnd %}
    <script src="/assets/js/createRecipe.js"></script>
{% endblock %}