<div class="d-flex bst-recipe-item align-items-start">
    <a href="{{ path('blog_detail',{id:blogArticle.id}) }}" title="">
        <img class="blog-pre-img" src="{{ blogArticle.image }}" alt="{{ blogArticle.title }}">
    </a>
    <div>
        <h5 class="fs-16 font-weight-semibold mb-0"><a href="{{ path('blog_detail',{id:blogArticle.id}) }}"> {{ blogArticle.title }}</a></h5>
    </div>
</div>