{% extends 'base.html.twig' %}

{% block metaOG %}
    <meta property="og:url"           content="https://aroma-rezepte.de" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="aroma-rezepte.de" />
    <meta property="og:description"   content="Erstelle Deine Duftkreation oder durchstöbere die Rezepte" />
    <meta property="og:image"         content="https://aroma-rezepte.de/assets/images/logoXL.png" />
{% endblock %}

{% block slider %}
    <section class="main-slider2 position-relative">
        <div class="parallax blk-overlay slide-image" style="max-height: 600px; overflow: hidden;">
            {#                    <iframe style="width: 100%; height: 100%" src="https://www.youtube.com/embed/68ycgJdH96A?controls=0&autoplay=1" title="YouTube video player" frameborder="0" allowfullscreen></iframe>#}
            <video style="width: 100%;" autoplay muted loop>
                <source src="assets/videos/SoN_Launchfilm_DE.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="container">

            <div class="kenburn-text text-center">
{#                <h3 class="line position-relative text-white">Enjoy Your Food Restaurant</h3>#}
{#                <h2 class="text-theme text-white">Fresh & Tasty</h2>#}
{#                <p class="mb-0">Explore recipes with natural cheese for delicious meals, appetizers, desserts,#}
{#                    and snacks.</p>#}
            </div>
        </div>
    </section>
{% endblock %}

{% block body %}

    {% include 'index/oilsOverview.html.twig' %}

    {% include 'index/topCreators.html.twig' %}

    <section>
        <div class="sec-space">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="sec-heading text-center">
                             <h2 class="text-uppercase fs-45 mb-40">Rezepte</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="reci-feature-vido">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-8">
                                        {% for recipe in recipes %}
                                            {% include 'recipe/recipe-Item-Index.html.twig' %}
                                        {% endfor %}
                                        <hr>
                                        <a class="text-white fs-15" href="{{ path('recipe') }}" title="">
                                        <div  class="blog-meta d-flex flex-row" >
                                            mehr Rezepte
                                        </div>
                                        </a>
                                    </div>
                                    <div class="col-lg-4">
                                        <aside>
                                            {% include 'index/widgets.html.twig' %}
                                        </aside>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

