<section>
    <div class="sec-space no-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="abt-resturant">
                        {#                            <span class="text-theme theme-color fs-20 d-block mb-2">Start Restaurant in 1985.</span>#}
                        <h2 class="h1 mb-3 font-weight-bold">ÄTHERISCHE EINZELÖLE</h2>
                        <p class="pr-5 mb-4">für dein persönliches Dufterlebnis. Jedes der acht
                            naturreinen Öle entfaltet sein individuelles Aroma für
                            dein individuelles Bedürfnis.</p>
                        {#                            <span class="font-weight-semibold mb-3 fs-20 d-block">Available facilities</span>#}
                        <ul class="list-unstyled p-0 m-0">
                            <li class="fs-18 text-gray">
                                <div class="oil-bottle-container">
                                        <span>
                                            <img class="oil-bottle" src="assets/images/resources/lemon_oil_2.jpg">
                                        </span>
                                    <br>
                                    <span>Erfrischend</span>
                                </div>
                                <div class="oil-bottle-container">
                                        <span>
                                            <img class="oil-bottle" src="assets/images/resources/eucalyptus_oil_2.jpg">
                                        </span>
                                    <br>
                                    <span>Vitalisierend</span>
                                </div>
                                <div class="oil-bottle-container">
                                    <span><img class="oil-bottle" src="assets/images/resources/orange_oil_2.jpg"></span>
                                    <br>
                                    <span>Belebend</span>
                                </div>
                            </li>
                            <li class="fs-18 text-gray">
                                <div class="oil-bottle-container">
                                        <span>
                                            <img class="oil-bottle" src="assets/images/resources/lavender_oil_2.jpg">
                                        </span>
                                    <br>
                                    <span>Entspannend</span>
                                </div>
                                <div class="oil-bottle-container">
                                        <span>
                                            <img class="oil-bottle" src="assets/images/resources/bergamont_oil_2.jpg">
                                        </span>
                                    <br>
                                    <span>Wohltuend</span>
                                </div>
                                <div class="oil-bottle-container">
                                        <span>
                                            <img class="oil-bottle" src="assets/images/resources/thyme_oil_2.jpg">
                                        </span>
                                    <br>
                                    <span>Fokussierend</span>
                                </div>
                            </li>

                            <li class="fs-18 text-gray">
                                <div class="oil-bottle-container">
                                        <span>
                                            <img class="oil-bottle" src="assets/images/resources/peppermint_oil_2.jpg">
                                        </span>
                                    <br>
                                    <span>Aktivierend</span>
                                </div>
                                <div class="oil-bottle-container">
                                        <span>
                                            <img class="oil-bottle" src="assets/images/resources/cedarwood_oil_2.jpg">
                                        </span>
                                    <br>
                                    <span>Erdend</span>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="abt-imgs d-flex align-items-center">
                        <div class="align-self-center">
                            <figure class="mb-0 tilt-img">
                                <img class="box-shadow" src="assets/images/resources/abt-img1.jpg" alt="">
                            </figure>
                        </div>
                        <div class="align-self-start">
                            <figure class="mb-0  tilt-img">
                                <img class="box-shadow" src="assets/images/resources/abt-img2.jpg" alt="">
                            </figure>
                            <figure class="mb-0 tilt-img">
                                <img class="box-shadow" src="assets/images/resources/abt-img3.jpg" alt="">
                            </figure>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>