<div class="recipe-list-item position-relative">
    <figure class="mb-0">
        <img class="img-fluid index-bottle-preview" src="{{ recipe.image }}" alt="{{ recipe.title }}">
    </figure>
    <div class="recipe-info-box position-relative">
        <div class="recipe-meta clearfix">
            <div class="recipe-title position-relative d-inline-block">
                <h2 class="fs-26 mb-1">{{ recipe.title }}</h2>
                <span class="fs-16 text-theme text-uppercase">von {{ recipe.username }}</span>

            </div>

            <div class="recipe-rating text-center bg-white float-right d-inline-block">
                <span class="text-gray fs-16 d-block">({{ recipe.ranking }} /5)</span>
                <div class="recipe-rating-stars">
                    {% if recipe.ranking >= 1 and recipe.ranking < 2 %}
                        <i style="color: gold" class="fa fa-star"></i>
                        <i style="color: gray" class="fa fa-star"></i>
                        <i style="color: gray" class="fa fa-star"></i>
                        <i style="color: gray" class="fa fa-star"></i>
                        <i style="color: gray" class="fa fa-star"></i>
                    {% elseif recipe.ranking >= 2 and recipe.ranking < 3 %}
                        <i style="color: gold" class="fa fa-star"></i>
                        <i style="color: gold" class="fa fa-star"></i>
                        <i style="color: gray" class="fa fa-star"></i>
                        <i style="color: gray" class="fa fa-star"></i>
                        <i style="color: gray" class="fa fa-star"></i>
                    {% elseif recipe.ranking >= 3 and recipe.ranking < 4 %}
                        <i style="color: gold" class="fa fa-star"></i>
                        <i style="color: gold" class="fa fa-star"></i>
                        <i style="color: gold" class="fa fa-star"></i>
                        <i style="color: gray" class="fa fa-star"></i>
                        <i style="color: gray" class="fa fa-star"></i>
                    {% elseif recipe.ranking >= 4 and recipe.ranking < 5 %}
                        <i style="color: gold" class="fa fa-star"></i>
                        <i style="color: gold" class="fa fa-star"></i>
                        <i style="color: gold" class="fa fa-star"></i>
                        <i style="color: gold" class="fa fa-star"></i>
                        <i style="color: gray" class="fa fa-star"></i>
                    {% elseif recipe.ranking == 5 %}
                        <i style="color: gold" class="fa fa-star"></i>
                        <i style="color: gold" class="fa fa-star"></i>
                        <i style="color: gold" class="fa fa-star"></i>
                        <i style="color: gold" class="fa fa-star"></i>
                        <i style="color: gold" class="fa fa-star"></i>
                    {% else %}
                        <i style="color: gray" class="fa fa-star"></i>
                        <i style="color: gray" class="fa fa-star"></i>
                        <i style="color: gray" class="fa fa-star"></i>
                        <i style="color: gray" class="fa fa-star"></i>
                        <i style="color: gray" class="fa fa-star"></i>
                    {% endif %}
                </div>
            </div>
        </div>
        <ul class="recipe-cokng-meta p-0 list-unstyled mb-0 mt-2">
            <li class="fs-16 fm-arimo text-gray position-relative"><strong>100</strong> ML BASIS-PFLEGEÖL</li>
            <li class="fs-16 fm-arimo text-gray position-relative"><strong>40</strong> TROPFEN ORANGEN-ÖL</li>
            <li class="fs-16 fm-arimo text-gray position-relative"><strong>10</strong> TROPFEN ZITRONEN-ÖL</li>
        </ul>
        <a class="rounded-circle text-center bg-theme text-white ml-auto" href="{{ path('recipe_detail',{id:recipe.id}) }}" title="">
            <i class="flaticon-next"></i>
        </a>
    </div>
</div>

<nav class="pt-60">
    <ul class="pagination justify-content-center mb-0">
        <li class="prev-page"><a href="javascript:void(0)"><i class="fas fa-angle-left"></i>Prev</a></li>
        <li><a href="javascript:void(0)">1</a></li>
        <li><a href="javascript:void(0)">2</a></li>
        <li><a href="javascript:void(0)">3</a></li>
        <li class="page-on">......</li>
        <li><a href="javascript:void(0)">28</a></li>
        <li class="next-page"><a href="javascript:void(0)">Next<i class="fas fa-angle-right"></i></a></li>
    </ul>
</nav>