<section>
    <div class="sec-space">
        <div class="bg-fixed" style="background: url('assets/images/resources/parallax.jpg');"></div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="sec-heading text-center">
                        <span class="text-theme fs-20 d-block mb-2 theme-color">Rezepte von den</span>
                        <h2 class="text-uppercase fs-45 mb-40">Top Creators</h2>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row justify-content-center">
                    {%  for creator in creators %}
                        <div class="col-lg-4 col-md-6">
                            <div class="chef-box position-relative bg-white">
                                <div class="chef-box-content d-flex align-items-center">
                                    <figure>
                                        <img src="{{ creator.usersetup.image }}" alt="">
                                    </figure>
                                    <div class="chef-box-info">
                                        <span class="text-theme fs-16">{{ creator.recipescount }} Rezept{% if creator.recipescount > 1 %}e{% endif %}</span>
                                        <h3 class="text-capitalize fs-26 mb-3">{{ creator.username }}</h3>
                                        <a class="rounded-circle d-inline-block text-center" href="{{ path('creator',{id:creator.id}) }}"
                                           title=""><i class="flaticon-next"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>