<div class="widget">
    <h4 class="fs-20 mb-20"><a href="{{ path('blog') }}" >Blog</a></h4>
    <div class="bst-recipe-widget">
        {% for blogArticle in blogWidgetItems %}
            {% include 'index/blogWidgetItem.html.twig' %}
        {% endfor %}
    </div>
</div>
{#<div class="widget">#}
{#    <h4 class="fs-20 mb-20">Categories</h4>#}
{#    <ul class="list-unstyled mb-0 pt-0 cat-widget">#}
{#        <li class="d-flex justify-content-between">#}
{#            <a href="javascript:void(0)" class="text-gray fs-16 font-family-arimo">Sea Food</a>#}
{#            <span class="text-gray fs-16 font-family-arimo">25</span>#}
{#        </li>#}
{#        <li class="d-flex justify-content-between">#}
{#            <a href="javascript:void(0)" class="text-gray fs-16 font-family-arimo">Recipe</a>#}
{#            <span class="text-gray fs-16 font-family-arimo">25</span>#}
{#        </li>#}
{#        <li class="d-flex justify-content-between">#}
{#            <a href="javascript:void(0)" class="text-gray fs-16 font-family-arimo">Ideas	</a>#}
{#            <span class="text-gray fs-16 font-family-arimo">25</span>#}
{#        </li>#}
{#        <li class="d-flex justify-content-between">#}
{#            <a href="javascript:void(0)" class="text-gray fs-16 font-family-arimo">Dessert</a>#}
{#            <span class="text-gray fs-16 font-family-arimo">25</span>#}
{#        </li>#}
{#        <li class="d-flex justify-content-between">#}
{#            <a href="javascript:void(0)" class="text-gray fs-16 font-family-arimo">Fruits</a>#}
{#            <span class="text-gray fs-16 font-family-arimo">25</span>#}
{#        </li>#}
{#        <li class="d-flex justify-content-between">#}
{#            <a href="javascript:void(0)" class="text-gray fs-16 font-family-arimo">Sushi	</a>#}
{#            <span class="text-gray fs-16 font-family-arimo">25</span>#}
{#        </li>#}
{#    </ul>#}
{#</div>#}
<div class="widget">
    <h4 class="fs-20 mb-20">Zubehör</h4>
    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-eu.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=DE&source=ac&ref=tf_til&ad_type=product_link&tracking_id=aromarezepte-21&marketplace=amazon&amp;region=DE&placement=B08FC4B964&asins=B08FC4B964&linkId=4cc663819bc097a7db7d0912374a9773&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066C0&bg_color=FFFFFF">
    </iframe>
    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-eu.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=DE&source=ac&ref=tf_til&ad_type=product_link&tracking_id=aromarezepte-21&marketplace=amazon&amp;region=DE&placement=B099NF8RMT&asins=B099NF8RMT&linkId=3cf63c9f093eec6c9be9e8eacf2c5ba3&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
    </iframe>
    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-eu.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=DE&source=ac&ref=tf_til&ad_type=product_link&tracking_id=aromarezepte-21&marketplace=amazon&amp;region=DE&placement=B074TF2ZPX&asins=B074TF2ZPX&linkId=8d53eb599cde6148ee1ccc943ea58a99&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
    </iframe>
    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-eu.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=DE&source=ac&ref=tf_til&ad_type=product_link&tracking_id=aromarezepte-21&marketplace=amazon&amp;region=DE&placement=B07DGJVDQ3&asins=B07DGJVDQ3&linkId=df35d10fd0681f439bcc383360576c3c&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
    </iframe>
    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-eu.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=DE&source=ac&ref=tf_til&ad_type=product_link&tracking_id=aromarezepte-21&marketplace=amazon&amp;region=DE&placement=B07H3NLGT3&asins=B07H3NLGT3&linkId=3baa9d40464ac08fdbc9ec6b8647f60a&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
    </iframe>
</div>