<button title="Clear formatting" id="clear">Löschen</button>
<button title="Insert header" id="heading">Überschrift</button>
<hr>
<button title="Italic" id="italics">Schräg</button>
<button title="Bold" id="bold">Fett</button>
<button title="Underline" id="underline">Unterstrichen</button>
<button title="Strikethrough" id="strikethrough">Durchstreichen</button>
<hr>
<button title="Unordered list" id="ul">Ungeordnete Liste</button>
<button title="Ordered list" id="ol">Geordnete Liste</button>
<hr>
<button title="Insert video" id="video">Video</button>
<button title="Insert image" id="image">Bild</button>
<button title="Insert Gfycat" id="gfy">Grafik</button>
<hr>
<button title="Insert horizontal line" id="hr">Linie</button>