{% block stylesheets %}
    <link rel="stylesheet" href="/assets/css/editor.min.css">
{% endblock %}

<div class="container">
    <h1>Editor Prototype</h1>

    <div id="editor">
        <div id="tools">
            {% include 'text_editor/head.html.twig' %}
        </div>
        <div id="input" contenteditable="true"></div>
        <div id="counter">0</div>
        <textarea name="content" id="output" cols="30" rows="10"></textarea>
    </div>

</div>

{% block additionaljavaScriptsEnd %}
    <script src="/assets/js/editor.min.js"></script>
{% endblock %}