<footer class="sec-space no-bottom footer-overlay position-relative">

    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="widget abt-us-widget">
                    <h4 class="widget-title text-white h4 mb-35 font-weight-bold">Über uns</h4>
                    <p class="fs-18 text-gray2 mb-0">Wir möchten eine Plattform bieten, welche sich mit dem Sammeln,
                        bewerten und kommentieren von Rezepten auf Basis von ätherischen Ölen der Firma
                        LR Health & Beauty Systems GmbH aus der Serie LR Soul of Nature.</p>
                    <div class="folow-us flex-row pt-25">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="widget quick-lnks-widget">
                    <h4 class="widget-title text-white h4 mb-35 font-weight-bold">Menü</h4>
                    <ul class="m-0 p-0 list-unstyled">
                        <li><a class="fs-16 position-relative" href="{{ path('index') }}" title="">Start</a></li>
                        <li><a class="fs-16 position-relative" href="{{ path('recipe') }}" title="">Rezepte</a></li>
                        <li><a class="fs-16 position-relative" href="{{ path('blog') }}" title="">Blog</a></li>
                        <li><a class="fs-16 position-relative" href="{{ path('app_login') }}" title="">Login</a></li>
                        <li><a class="fs-16 position-relative" href="{{ path('register') }}" title="">Registrieren</a></li>
                        <li><a class="fs-16 position-relative" href="{{ path('app_logout') }}" title="">Logout</a></li>
                        <li><a class="fs-16 position-relative" href="{{ path('create_recipe') }}" title="">Rezept schreiben</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="widget contct-widget">
                    <h4 class="widget-title text-white h4 mb-35 font-weight-bold">Du brauchst Hilfe?</h4>
                    <div class="conct-info-blk d-flex flex-row">
                        <i class="flaticon-mail"></i>
                        <span class="mb-3 d-block text-gray2 fs-18">
                            E-mail:
                            <strong class="font-weight-bold text-white d-block">support@aroma-rezepte.de </strong>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-btm text-center">
            <div class="row">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <ul class="footer-menu p-0 list-unstyled d-flex justify-content-between">
                        <li><a class="fs-16 font-weight-bold" href="index.html" title="">Start</a></li>
                        <li><a class="fs-16 font-weight-bold" href="{{ path('impressum') }}" title="">Impressum</a></li>
                        <li><a class="fs-16 font-weight-bold" href="{{ path('data_privacy') }}" title="">Datenschutz</a></li>
                        <li><a class="fs-16 font-weight-bold" href="{{ path('creator_info') }}" title="">Creator</a></li>
                        </li>
                    </ul>
                    <p class=" mt-3 fs-16 mb-5 text-gray2">
                        <span class="text-white font-weight-semibold">aroma-rezepte.de</span>.
                    </p>
                </div>
            </div>
        </div>

    </div>

</footer>