<div class="woocommerce-Reviews mt-5">

    <div class="comment-text" style="width: 100%" >
        <div class="comment-date d-flex justify-content-between">
            <div class="comment-1">
                <h3>{{ comment.username }}</h3>
                <span class="theme-color">{{ comment.date }}</span>
            </div>
            <div>
                <div class="recipe-rating-stars">
                    {% if comment.rating >= 1 and comment.rating < 2 %}
                        <i style="color: gold" class="fa fa-star"></i>
                        <i style="color: gray" class="fa fa-star"></i>
                        <i style="color: gray" class="fa fa-star"></i>
                        <i style="color: gray" class="fa fa-star"></i>
                        <i style="color: gray" class="fa fa-star"></i>
                    {% elseif comment.rating >= 2 and comment.rating < 3 %}
                        <i style="color: gold" class="fa fa-star"></i>
                        <i style="color: gold" class="fa fa-star"></i>
                        <i style="color: gray" class="fa fa-star"></i>
                        <i style="color: gray" class="fa fa-star"></i>
                        <i style="color: gray" class="fa fa-star"></i>
                    {% elseif comment.rating >= 3 and comment.rating < 4 %}
                        <i style="color: gold" class="fa fa-star"></i>
                        <i style="color: gold" class="fa fa-star"></i>
                        <i style="color: gold" class="fa fa-star"></i>
                        <i style="color: gray" class="fa fa-star"></i>
                        <i style="color: gray" class="fa fa-star"></i>
                    {% elseif comment.rating >= 4 and comment.rating < 5 %}
                        <i style="color: gold" class="fa fa-star"></i>
                        <i style="color: gold" class="fa fa-star"></i>
                        <i style="color: gold" class="fa fa-star"></i>
                        <i style="color: gold" class="fa fa-star"></i>
                        <i style="color: gray" class="fa fa-star"></i>
                    {% elseif comment.rating == 5 %}
                        <i style="color: gold" class="fa fa-star"></i>
                        <i style="color: gold" class="fa fa-star"></i>
                        <i style="color: gold" class="fa fa-star"></i>
                        <i style="color: gold" class="fa fa-star"></i>
                        <i style="color: gold" class="fa fa-star"></i>
                    {% else %}
                        <i style="color: gray" class="fa fa-star"></i>
                        <i style="color: gray" class="fa fa-star"></i>
                        <i style="color: gray" class="fa fa-star"></i>
                        <i style="color: gray" class="fa fa-star"></i>
                        <i style="color: gray" class="fa fa-star"></i>
                    {% endif %}
                </div>
            </div>
        </div>
        <p>{{ comment.comment }}</p>
    </div>
</div>
