<div class="leave-review bg-gray">
    <div class="review-title d-sm-flex justify-content-between mb-4 align-items-center">
        <h4 class="mb-0"><span class="flaticon-login mr-2"></span>Du musst angemeldet sein um Bewerten zu können</h4>

    </div>

    <div class="signup-options d-flex justify-content-between align-items-center">
        <a href="{{ path('app_login') }}" class="theme-btn-secondary">LOGIN<span></span></a>
        <div class="social-connect d-flex align-items-center">

        </div>
    </div>
</div>