<div class="leave-review bg-gray">
    <div class="review-title d-sm-flex justify-content-between mb-4 align-items-center">
        <h4 class="mb-0"><span class="flaticon-login mr-2"></span>Schreibe eine Bewertung</h4>
    </div>
    <form action="{{ path('rating') }}" method="post">
        <div class="row">
            <div class="col-sm-9">
                <div class="d-md-flex align-items-center">
                    <div>
                        <i data-rating="1" class="fa fa-star rating-star star-empty"></i>
                        <i data-rating="2" class="fa fa-star rating-star star-empty"></i>
                        <i data-rating="3" class="fa fa-star rating-star star-empty"></i>
                        <i data-rating="4" class="fa fa-star rating-star star-empty"></i>
                        <i data-rating="5" class="fa fa-star rating-star star-empty"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <textarea name="comment" class="rating-area" rows="4" cols="50"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-9">
                <button class="theme-btn-secondary mt-3" type="submit">BEWERTEN<span style="top: -47.8333px; left: 59px;"></span></button>
            </div>
        </div>
        <input class="rating-stars-input" name="rating" type="hidden" value="0">
        <input name="recipeID" type="hidden" value="{{ recipe.id }}">
    </form>
</div>