{% extends 'base.html.twig' %}

{% block title %}{{ recipe.title }}{% endblock %}
{% block metaOG %}
    <meta property="og:url"           content="https://aroma-rezepte.de{{ app.request.requesturi }}" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="{{ recipe.title }}" />
    <meta property="og:description"   content="{{ recipe.description }}" />
    <meta property="og:image"         content="https://aroma-rezepte.de/{{ recipe.image }}" />
{% endblock %}

{% block body %}
    <section style="background-color: #e8ebf1" class="pt-50 pb-60">
        <div class="container">
            <div class="recipe-detail-box position-relative">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <div class="wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;height: 350px;">

                            <div class="bottle-preview bottle-banner">
                                <img class="bottle-base" src="/assets/images/bottle/base_bottle.png" />

                                {% for ingredients in recipe.ingredients %}
                                    <img class="bottle-overlay" src="/assets/images/bottle/{{ ingredients.overlay }}.png" />
                                {% endfor %}
                                <span class="bottle-overlay-text banner-bottle-text">
                                    <p class="banner-bottle-text"><b>{{ recipe.title }}</b></p>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="recipe-quick-info">
                            <h3 class="fs-45 mb-2">{{ recipe.title }}</h3>
                            <div class="recipe-quick-meta">
                                <span>Veröffentlicht am <strong class="theme-color">{{ recipe.published }}</strong> </span>
                                <span>von {{ recipe.username }} </span>
                            </div>
                            <div class="recipe-prep-box bg-theme d-sm-flex justify-content-between flex-wrap position-relative">
                                <p class="fs-18" style="color: white">{{ recipe.description }}</p>
                            </div>
                            <div class="recipe-stars d-md-flex align-items-center mt-3">
                                <div>
                                    {% if recipe.ranking >= 1 and recipe.ranking < 2 %}
                                        <i style="color: gold" class="fa fa-star"></i>
                                        <i style="color: gray" class="fa fa-star"></i>
                                        <i style="color: gray" class="fa fa-star"></i>
                                        <i style="color: gray" class="fa fa-star"></i>
                                        <i style="color: gray" class="fa fa-star"></i>
                                    {% elseif recipe.ranking >= 2 and recipe.ranking < 3 %}
                                        <i style="color: gold" class="fa fa-star"></i>
                                        <i style="color: gold" class="fa fa-star"></i>
                                        <i style="color: gray" class="fa fa-star"></i>
                                        <i style="color: gray" class="fa fa-star"></i>
                                        <i style="color: gray" class="fa fa-star"></i>
                                    {% elseif recipe.ranking >= 3 and recipe.ranking < 4 %}
                                        <i style="color: gold" class="fa fa-star"></i>
                                        <i style="color: gold" class="fa fa-star"></i>
                                        <i style="color: gold" class="fa fa-star"></i>
                                        <i style="color: gray" class="fa fa-star"></i>
                                        <i style="color: gray" class="fa fa-star"></i>
                                    {% elseif recipe.ranking >= 4 and recipe.ranking < 5 %}
                                        <i style="color: gold" class="fa fa-star"></i>
                                        <i style="color: gold" class="fa fa-star"></i>
                                        <i style="color: gold" class="fa fa-star"></i>
                                        <i style="color: gold" class="fa fa-star"></i>
                                        <i style="color: gray" class="fa fa-star"></i>
                                    {% elseif recipe.ranking == 5 %}
                                        <i style="color: gold" class="fa fa-star"></i>
                                        <i style="color: gold" class="fa fa-star"></i>
                                        <i style="color: gold" class="fa fa-star"></i>
                                        <i style="color: gold" class="fa fa-star"></i>
                                        <i style="color: gold" class="fa fa-star"></i>
                                    {% else %}
                                        <i style="color: gray" class="fa fa-star"></i>
                                        <i style="color: gray" class="fa fa-star"></i>
                                        <i style="color: gray" class="fa fa-star"></i>
                                        <i style="color: gray" class="fa fa-star"></i>
                                        <i style="color: gray" class="fa fa-star"></i>
                                    {% endif %}
                                </div>
                                <span class="ml-3">({{ recipe.ranking }} /5) {{ recipe.ratings }} Bewertungen </span>
                                {% if isFavorite %}
                                    <a href="{{ path('deleteToFavorite',{id:recipe.id}) }}">
                                        <span class="ml-3 fav-icon"><i class="fas fa-heart"></i></span>
                                    </a>
                                {% else %}
                                    <a href="{{ path('addToFavorite',{id:recipe.id}) }}">
                                        <span class="ml-3 none-fav-icon"><i class="far fa-heart"></i></span>
                                    </a>
                                {% endif %}
                            </div>
                            <ul class="contact-social list-unstyled d-flex mt-30 mb-0">

                                <li><a href="https://www.facebook.com/sharer/sharer.php?u=https://aroma-rezepte.de{{ app.request.requesturi }}" class="text-white d-inline-block text-center" style="background-color: #365dce;"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="http://www.twitter.com/share?url=https://aroma-rezepte.de{{ app.request.requesturi }}" class="text-white d-inline-block text-center" style="background-color: #36c9e4;"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="https://www.linkedin.com/sharing/share-offsite/?url={{ app.request.requesturi }}" class="text-white d-inline-block text-center" style="background-color: #0f9cd6;"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="whatsapp://send?text={{ recipe.title }}%3A%20https://aroma-rezepte.de/blog/detail?id={{ recipe.id }}" class="text-white d-inline-block text-center" style="background-color: #4ed475;"><i class="fab fa-whatsapp"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="pb-110">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <div class="recipe-detail-content">

                        <div class="meal-cooking">
                            <div class="row">
                                <h6 class="fs-38 mb-4">SO GEHT´S</h6>
                                <p class="fs-18"> Die genaue Menge ätherischer Öle direkt in das LR Pflegeöl geben, danach
                                    gut verschließen, kurz schütteln, Sticker beschriften und aufkleben, fertig.</p>
                                <div class="col-md-7">

                                    <ul class="p-0 m-0 list-unstyled meal-indi">

                                        {% for ingredients in recipe.ingredients %}
                                            <li class="fs-18 text-gray">
                                                <div class="">
                                                    <span><img class="oil-bottle" src="{{ ingredients.image }}"></span>
                                                    <span>{{ ingredients.lot }} {{ ingredients.unit }} {{ ingredients.oil }}</span>
                                                </div>
                                            </li>
                                        {% endfor %}

                                    </ul>
                                </div>
                                <div class="col-md-5">
                                    <div class="bottle-preview">
                                        <img class="bottle-base" src="/assets/images/bottle/base_bottle.png" />

                                        {% for ingredients in recipe.ingredients %}
                                            <img class="bottle-overlay" src="/assets/images/bottle/{{ ingredients.overlay }}.png" />
                                        {% endfor %}
                                        <span class="bottle-overlay-text">
                                            <p ><b>{{ recipe.title }}</b></p>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {% if recipe.additional is not empty %}
                            <div style="padding: 20px 0px;">
                                <div class="leave-review bg-gray">
                                    <p>{{ recipe.additional }}</p>
                                </div>
                            </div>

                        {% endif %}

                        {% if isCreator %}
                            {% include 'creator/creator-box.html.twig' %}
                        {% endif %}

                        {% for comment in comments %}
                            {% include 'recipe_detail/comment-item.html.twig' %}
                        {% endfor %}

                        {%  if is_granted('IS_AUTHENTICATED_FULLY') %}
                            {% include 'recipe_detail/comment-form-logged.html.twig' %}
                        {% else %}
                            {% include 'recipe_detail/comment-form.html.twig' %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block additionaljavaScriptsEnd %}
    <script src="/assets/js/rating.js"></script>
{% endblock %}
