{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block metaOG %}
    <meta property="og:url"           content="https://aroma-rezepte.de{{ app.request.requesturi }}" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="{{ article.title }}" />
    <meta property="og:description"   content="{{ article.description }}" />
    <meta property="og:image"         content="https://aroma-rezepte.de/{{ article.image }}" />
{% endblock %}

{% block body %}
    <div class="article-detail">
        <div class="container">
            <div class="article-img">
                <img class="img-fluid" src="{{ article.banner }}" alt="">
            </div>
            <div class="row">
                <div class="col-md-10 mx-auto">
                    <div class="article-content">
                        <div class="article-top-content">
                            <div class="d-flex align-items-center article-share">
                                <ul class="list-unstyled p-0 mb-0 d-flex ml-md-5 ml-3">
                                    <li><a href="https://www.facebook.com/sharer/sharer.php?u=https://aroma-rezepte.de{{ app.request.requesturi }}" class="position-relative" style="color: #365dce;"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="http://www.twitter.com/share?url=https://aroma-rezepte.de{{ app.request.requesturi }}" class="position-relative" style="color: #36c8e3;"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="https://www.linkedin.com/sharing/share-offsite/?url={{ app.request.requesturi }}" class="position-relative" style="color: #0f9cd6;"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li><a href="whatsapp://send?text={{ article.title }}%3A%20https://aroma-rezepte.de/blog/detail?id={{ article.id }}" class="position-relative" style="color: #4fd675;"><i class="fab fa-whatsapp"></i></a></li>
                                </ul>
                            </div>
                            <h2 class="my-3">{{ article.title }}</h2>
                            <div class="article-detail-meta d-flex align-items-center mb-4">
                            <span class="fs-16">

                                {% if article.userid > 0 %}
                                    <a href="{{ path('creator',{id:article.userid}) }}">
                                {% endif %}

                                 <img width="41" class="rounded-circle mr-2" src="{{ article.authorImage }}" alt="">
                                von <strong>{{ article.author }}</strong>

                                {% if article.userid > 0 %}
                                    </a>
                                {% endif %}
                            </span>
                            </div>
                        </div>
                        {{ article.content |raw }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
