{% extends 'base.html.twig' %}

{% block title %}Registrierung{% endblock %}

{% block body %}

    <section class="pt-110 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-12">
                    {{ form(regForm) }}
                    <br>
                </div>
                <div class="col-lg-7 col-md-12">
                    <h3 class="contact-icon-title">Du hast schon einen Account?</h3>
                    <p class="fs-18">Mit einem Account hast Du die Möglichkeit Rezepte einzustellen, Bewertungen zu schreiben oder auch Deine Lieblingsrezepte zu Deinen Favoriten hinzuzufügen.</p>
                    <div><a class="theme-btn-secondary" href="{{ path('app_login') }}" title="">LOGIN</a></div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

