<div class="about-chef-box position-relative">
    <div class="row align-items-center">
        <div class="col-md-5">
            <div class="chef-avatar">
                <a href="{{ path('creator',{id:creator.id}) }}">
                    <img height="415" src="{{ creator.usersetup.image }}" alt="">
                </a>
            </div>
        </div>
        <div class="col-md-7">
            <div class="recipe-chef">
                <span class="text-theme theme-color font-weight-bold text-uppercase">Creator</span>
                <a href="{{ path('creator',{id:creator.id}) }}">
                    <h4 class="fs-26 text-uppercase">{{ creator.username }}</h4>
                </a>
                {% if creator.usersetup.facebook %}
                    <p>Mische dir selbst ein energiespendendes Massage-/ Körperöl für deinen Energiekick!</p>
                {% endif %}

                <ul class="chef-social list-unstyled p-0 mb-0 mt-30">
                    {% if creator.usersetup.facebook %}
                        <li><a href="{{ creator.usersetup.email }}" class="rounded-circle d-inline-block" style="background-color: #365dce;"><i class="fab fa-facebook-f"></i></a></li>
                    {% endif %}

                    {% if creator.usersetup.twitter %}
                        <li><a href="{{ creator.usersetup.twitter }}" class="rounded-circle d-inline-block" style="background-color: #36c8e3;"><i class="fab fa-twitter"></i></a></li>
                    {% endif %}

                    {% if creator.usersetup.linkedin %}
                    <li><a href="{{ creator.usersetup.linkedin }}" class="rounded-circle d-inline-block" style="background-color: #0f9cd6;"><i class="fab fa-linkedin-in"></i></a>
                        {% endif %}

                        {% if creator.usersetup.instagram %}
                    <li><a href="{{ creator.usersetup.instagram }}" class="rounded-circle d-inline-block" style="background-color: #b70198;"><i class="fab fa-instagram"></i></a>
                        {% endif %}
                </ul>

                </div>
        </div>
    </div>
</div>