{% extends 'base.html.twig' %}

{% block title %}Creator | {{ creator.username }}{% endblock %}

{% block body %}
    <section class="py-110">
        <div class="container">
            <div class="chef-personal-info bg-gray position-relative">
                <div class="row align-items-center">
                    <div class="col-md-5">
                        <div class="chef-avatar">
                            <img height="413" src="{{ creator.usersetup.image }}" alt="">
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="chef-title d-flex align-items-start justify-content-between">
                            <div>
                                <span class="text-theme font-weight-bold fm-arimo fs-16">{{ creator.recipescount }} Rezept{% if creator.recipescount > 1 %}e{% endif %}</span>
                                <h3 class="fs-30">{{ creator.username }}</h3>
                            </div>
{#                            <a href="recipe-list-view.html" class="theme-btn-secondary">View Recipe<span></span></a>#}
                        </div>
                        <div class="chef-meta mt-30">
                            <ul class="list-unstyled p-0 mb-0">
                                {% if creator.usersetup.lrshop %}
                                <li>
                                    <i class="fas fa-shopping-bag"></i>
                                    <strong class="text-theme font-weight-bold fm-arimo fs-16">LR Shop:
                                    </strong>
                                    <span class="fm-arimo text-gray"><a href="{{ creator.usersetup.lrshop }}" target="_blank">zum Shop</a></span>
                                </li>
                                {% endif %}
                                {% if creator.usersetup.whatsapp %}
                                <li>
                                    <i class="fab fa-whatsapp"></i>
                                    <strong class="text-theme font-weight-bold fm-arimo fs-16">Whatsapp:
                                    </strong>
                                    <span class="fm-arimo text-gray">{{ creator.usersetup.whatsapp }}</span>
                                </li>
                                {% endif %}
                                {% if creator.usersetup.phone %}
                                <li>
                                    <i class="flaticon-phone"></i>
                                    <strong class="text-theme font-weight-bold fm-arimo fs-16">Telefon: </strong>
                                    <span class="fm-arimo text-gray">{{ creator.usersetup.phone }}</span>
                                </li>
                                {% endif %}
                                {% if creator.usersetup.email %}
                                <li>
                                    <i class="flaticon-mail"></i>
                                    <strong class="text-theme font-weight-bold fm-arimo fs-16">Email: </strong>
                                    <span class="fm-arimo text-gray">{{ creator.usersetup.email }} </span>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                        <ul class="chef-social list-unstyled p-0 mb-0 mt-30">
                            {% if creator.usersetup.facebook %}
                                <li><a href="{{ creator.usersetup.email }}" class="rounded-circle d-inline-block" style="background-color: #365dce;"><i class="fab fa-facebook-f"></i></a></li>
                            {% endif %}

                            {% if creator.usersetup.twitter %}
                                <li><a href="{{ creator.usersetup.twitter }}" class="rounded-circle d-inline-block" style="background-color: #36c8e3;"><i class="fab fa-twitter"></i></a></li>
                            {% endif %}

                            {% if creator.usersetup.linkedin %}
                                <li><a href="{{ creator.usersetup.linkedin }}" class="rounded-circle d-inline-block" style="background-color: #0f9cd6;"><i class="fab fa-linkedin-in"></i></a>
                            {% endif %}

                            {% if creator.usersetup.instagram %}
                            <li><a href="{{ creator.usersetup.instagram }}" class="rounded-circle d-inline-block" style="background-color: #b70198;"><i class="fab fa-instagram"></i></a>
                            {% endif %}



                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="chef-desc pt-60">
                <p>{{ creator.description }}</p>
            </div>
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="reci-feature-vido">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-8">
                                        {% for recipe in recipes %}
                                            {% include 'recipe/recipe-Item-Index.html.twig' %}
                                        {% endfor %}
                                    </div>
                                    <div class="col-lg-4">
                                        <aside>
                                            {% include 'index/widgets.html.twig' %}
                                        </aside>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}
