{% extends 'base.html.twig' %}

{% block title %}Creator Info{% endblock %}

{% block body %}

    <section class="pt-110 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-12">
                    <h3>Creators</h3>
                    <p>
                        Creators haben die Möglich eine Präsens auf aroma-rezepte.de aufzubauen. Ebenfalls erscheint ein Banner
                        des Creators bei den von ihm erstellten Rezepten. Dieser Banner gibt Informationen zu den Social Media
                        Aktivitäten des Creators und kann zur Reichweitensteigerung genutzt werden.
                    </p>
                    <p>
                        Erstelle Blogbeiträge unter Deinem Namen und teile sie über Deine Social-Media-Kanäle um mehr Aufmerksamkeit
                        und Mehrwert für Deine Online Präsens zu schaffen.
                    </p>
                </div>
                <div class="col-lg-7 col-md-12">
                    <h3 class="contact-icon-title">Creator werden?</h3>
                    <p class="fs-18">Du möchtest Creator werden und die Vorteile nutzen? Dann schreibe eine E-Mail an
                        <a href="mailto:support@aroma-rezepte.de"><b>support@aroma-rezepte.de </b></a>.</p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
