{% extends 'base.html.twig' %}


{% block title %}Einstellungen{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <h3 class="contact-icon-title">Einstellungen</h3>
        <div class="col-lg-12">
            <div class="row">

                <div class="col-lg-5 col-md-12">
                    {{ form(form) }}
                    <br>
                </div>
                <div class="col-lg-7 col-md-12">
                    <div>
                        <p class="fs-18">Mit einem Account hast Du die Möglichkeit Rezepte einzustellen, Bewertungen zu schreiben oder auch Deine Lieblingsrezepte zu Deinen Favoriten hinzuzufügen.</p>
                        <div><a class="theme-btn-secondary" href="{{ path('creator',{id:creatorID}) }}" title="">Deine Seite</a></div>
                    </div>
                    <hr>
                    <div>
                        <p class="fs-18">Hier findest Du Deine Rezepte.</p>
                        <div><a class="theme-btn-secondary" href="{{ path('my_recipes') }}" title="">Deine Rezepte</a></div>
                    </div>
                    <hr>
                    <div>
                        <p class="fs-18">Schreibe einen Blogeintrag</p>
                        <div><a class="theme-btn-secondary" href="{{ path('create_blog') }}" title="">Blogbeitrag erstellen</a></div>
                    </div>
                    <hr>
                    <div>
                        <p class="fs-18">Hier findest Du Deine Blogeinträge</p>
                        <div><a class="theme-btn-secondary" href="{{ path('my_blog') }}" title="">Deine Blogeinträge</a></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}
