<p class="font-weight-bold">ZIELGRUPPE</p>
<div class="row">
    <div class="col-md-8">
        <p>Für alle, die Körper und Geist aktivieren und erfrischen und so ihr Wohlbefinden individuell steigern wollen.
            Und für diejenigen, die dem LR Soul
            of Nature Pflegeöl ihren ganz persönlichen Lieblingsduft auf Basis naturreiner ätherischer Öle verleihen wollen</p>
    </div>
    <div class="col-md-4">
        <img src="/assets/images/resources/base_oil.jpg">
    </div>
</div>

<p class="font-weight-bold">EIGENSCHAFTEN</p>
<p>Mildes, duftneutrales Körperpflege und Massageöl für ein samtweiches,
    geschmeidiges Hautgefühl. Nährt und regeneriert die Haut mit Mandel- und Jojobaöl und Aloe Vera Öl Extrakt,
    spendet Feuchtigkeit und schützt die Haut vor dem austrocknen.
    Perfekt geeignet als Basis-Öl, das mit den ätherischen Einzelölen von LR
    Soul of Nature beduftet werden kann. Zur äußerlichen Anwendung auf der Haut geeignet.
</p>

<p class="font-weight-bold">HERKUNFT</p>
<p>Das LR Soul of Nature Orangen-Öl
    stammt aus Argentinien, aus der Region Concordia. Dort werden die Bäume seit über 20 Jahren ausschließlich
    biologisch und pestizidfrei angebaut.
    Das ist eine Seltenheit, da in anderen
    Regionen der Welt beide Anbauformen (mit Pestiziden und pestizidfrei)
    in der Nachbarschaft vorkommen..
</p>