<div class="col-lg-4 col-md-6 col-sm-12">
    <article>
        <div class="blog-item">
            <figure class="mb-0 position-relative">
                <img src="{{ article.image }}" alt="">
                <div class="text-center">
                    <a href="{{ path('blog_detail',{ id: article.id }) }}" title="{{ article.title }}" class="theme-btn-secondary">lesen<span></span></a>
                </div>
            </figure>
            <div class="blog-desc mx-3 position-relative">
                <div class="blog-txt bg-white">
                    <a href="{{ path('blog_detail',{ id: article.id }) }}" title="{{ article.title }}" class="blog-date fs-16">{{ article.publish }}</a>
                    <h3 class="fs-22 mt-2">
                        <a href="{{ path('blog_detail',{ id: article.id }) }}" title="">{{ article.title }}</a></h3>
                    <p class="mb-0">{{ article.description }}</p>
                </div>
            </div>
        </div>
    </article>
</div>