
{#<a data-toggle="modal" data-target="#ImageModal"></a>#}

<div class="modal fade" id="ImageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width: 80%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Wähle ein Bild aus</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <img class="select-pre-image" style="width: 100%" src="/assets/images/resources/news1.jpg" >
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <img class="select-pre-image" style="width: 100%" src="/assets/images/resources/news2.jpg" >
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <img class="select-pre-image" style="width: 100%" src="/assets/images/resources/news3.jpg" >
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <img class="select-pre-image" style="width: 100%" src="/assets/images/resources/news4.jpg" >
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <img class="select-pre-image" style="width: 100%" src="/assets/images/resources/news5.jpg" >
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <img class="select-pre-image" style="width: 100%" src="/assets/images/resources/news6.jpg" >
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <img class="select-pre-image" style="width: 100%" src="/assets/images/resources/news7.jpg" >
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <img class="select-pre-image" style="width: 100%" src="/assets/images/resources/news8.jpg" >
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <img class="select-pre-image" style="width: 100%" src="/assets/images/resources/SoN_logo.jpg" >
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="ImageBannerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width: 80%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Wähle ein Banner aus</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <img class="select-pre-image-banner" style="width: 100%" src="/assets/images/resources/blog-detail.jpg" >
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <img class="select-pre-image-banner" style="width: 100%" src="/assets/images/resources/blog-detail2.jpg" >
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <img class="select-pre-image-banner" style="width: 100%" src="/assets/images/resources/blog-detail3.jpg" >
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <img class="select-pre-image-banner" style="width: 100%" src="/assets/images/resources/blog-detail4.jpg" >
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <img class="select-pre-image-banner" style="width: 100%" src="/assets/images/resources/blog-detail5.jpg" >
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <img class="select-pre-image-banner" style="width: 100%" src="/assets/images/resources/blog-detail6.jpg" >
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <img class="select-pre-image-banner" style="width: 100%" src="/assets/images/resources/blog-detail6.jpg" >
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <img class="select-pre-image-banner" style="width: 100%" src="/assets/images/resources/blog-detail7.jpg" >
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <img class="select-pre-image-banner" style="width: 100%" src="/assets/images/resources/blog-detail8.jpg" >
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <img class="select-pre-image-banner" style="width: 100%" src="/assets/images/resources/blog-detail9.jpg" >
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <img class="select-pre-image-banner" style="width: 100%" src="/assets/images/resources/blog-detail10.jpg" >
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <img class="select-pre-image-banner" style="width: 100%" src="/assets/images/resources/blog-detail11.jpg" >
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <img class="select-pre-image-banner" style="width: 100%" src="/assets/images/resources/blog-detail12.jpg" >
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>