{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}
    <div class="container" style="padding-bottom: 10px;">
        <div class="row pt-5">
            {% for article in articles %}
                {% include 'blog/articlePreview.html.twig' %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
