{% extends 'base.html.twig' %}

{% block title %}Hello DataPrivacyController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="mu-features-area">
                    <!-- Start Title -->
                    <div class="mu-features-content">
                        <h1>Datenschutz</h1>
                        <p>Wir nehmen den Schutz Ihrer persönlichen Daten sehr ernst und halten uns strikt an die Regeln der Datenschutzgesetze.
                            Personenbezogene Daten werden auf dieser Webseite nur im technisch notwendigen Umfang erhoben.
                            In keinem Fall werden die erhobenen Daten verkauft oder aus anderen Gründen an Dritte weitergegeben.
                            Die nachfolgende Erklärung gibt Ihnen einen Überblick darüber, wie wir diesen Schutz gewährleisten und welche Art von Daten zu welchem Zweck erhoben werden.</p>
                    </div>
                    <div class="mu-features-content">
                        <h2>Datenverarbeitung auf dieser Internetseite</h2>
                        <p>aroma-rezepte.de erhebt und speichert automatisch in ihren Server Log Files Informationen,
                            die Ihr Browser an uns übermittelt. Dies sind:</p>
                        <br>
                        <ul>
                            <li>- Browsertyp/ -version</li>
                            <li>- verwendetes Betriebssystem</li>
                            <li>- Hostname des zugreifenden Rechners (IP Adresse)</li>
                            <li>- Uhrzeit der Serveranfrage</li>
                            <li>- URL der vom Browser angeforderten Datei/Ressource</li>
                        </ul>
                        <br>
                        <p>
                            Diese Daten sind von uns nicht bestimmten Personen zuordenbar. Eine Zusammenführung dieser Daten mit anderen Datenquellen wird nicht vorgenommen,
                            die Daten werden zudem nach einer statistischen Auswertung gelöscht.
                        </p>
                    </div>

                    <div class="mu-features-content">
                        <h2>Cookies</h2><br>
                        <p>
                            Die Internetseiten verwenden an mehreren Stellen so genannte Cookies. Sie dienen dazu, unser Angebot nutzerfreundlicher,
                            effektiver und sicherer zu machen. Cookies sind kleine Textdateien, die auf Ihrem Rechner abgelegt werden und die Ihr Browser speichert. Die von uns verwendeten Cookies sind so genannte „Session-Cookies“. Sie werden nach Ende Ihres Besuchs automatisch gelöscht.
                            Cookies richten auf Ihrem Rechner keinen Schaden an und enthalten keine Viren.
                        </p>
                    </div>

                    <div class="mu-features-content">
                        <h2>Google Analytics</h2><br>
                        <p>
                            Diese Website benutzt Google Analytics, einen Webanalysedienst der Google Inc. („Google“). Google Analytics verwendet sog.
                            „Cookies“, Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung der Website durch Sie
                            ermöglichen. Die durch den Cookie erzeugten Informationen über Ihre Benutzung dieser Website werden in der Regel an einen
                            Server von Google in den USA übertragen und dort gespeichert. Im Falle der Aktivierung der IP-Anonymisierung auf dieser Webseite,
                            wird Ihre IP-Adresse von Google jedoch innerhalb von Mitgliedstaaten der Europäischen Union oder in anderen Vertragsstaaten des
                            Abkommens über den Europäischen Wirtschaftsraum zuvor gekürzt. Nur in Ausnahmefällen wird die volle IP-Adresse an einen Server
                            von Google in den USA übertragen und dort gekürzt.
                            Im Auftrag des Betreibers dieser Website wird Google diese Informationen benutzen, um Ihre Nutzung der Website auszuwerten,
                            um Reports über die Websiteaktivitäten zusammenzustellen und um weitere mit der Websitenutzung und der Internetnutzung verbundene
                            Dienstleistungen gegenüber dem Websitebetreiber zu erbringen. Die im Rahmen von Google Analytics von Ihrem Browser übermittelte
                            IP-Adresse wird nicht mit anderen Daten von Google zusammengeführt. Sie können die Speicherung der Cookies durch eine entsprechende
                            Einstellung Ihrer Browser-Software verhindern; wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht
                            sämtliche Funktionen dieser Website vollumfänglich werden nutzen können. Sie können darüber hinaus die Erfassung der durch das
                            Cookie erzeugten und auf Ihre Nutzung der Website bezogenen Daten (inkl. Ihrer IP-Adresse) an Google sowie die Verarbeitung
                            dieser Daten durch Google verhindern, indem sie das unter dem folgenden Link verfügbare
                            Browser-Plugin herunterladen und installieren: http://tools.google.com/dlpage/gaoptout?hl=de.

                            Alternativ zum Browser-Add-On oder innerhalb von Browsern auf mobilen Geräten,

                        </p><a onclick="alert('Google Analytics wurde deaktiviert');" href="javascript:gaOptout()">Google Analytics deaktivieren</a>
                        <p>,
                            um die Erfassung durch Google Analytics innerhalb dieser Website zukünftig zu verhindern
                            (das Opt Out funktioniert nur in dem Browser und nur für diese Domain). Dabei wird ein Opt-Out-Cookie auf Ihrem Gerät abgelegt.
                            Löschen Sie Ihre Cookies in diesem Browser, müssen Sie diesen Link erneut klicken.
                        </p>
                    </div>

                    <div class="mu-features-content">
                        <h2 >Auskunftsrecht</h2><br>
                        <p>
                            Sie haben jederzeit das Recht auf Auskunft über die bezüglich Ihrer Person gespeicherten Daten, deren Herkunft und Empfänger sowie den Zweck der Speicherung.
                        </p>
                    </div>
                    <div class="mu-features-content">
                        <h2 >Benutzer Bilder und Namen</h2><br>
                        <p>Benutzername, Profilbild und Banner sind öffentlich für anderen Besuchern von aroma-rezepte.de.com zu sehen.
                        </p>
                        <p></p>
                    </div>

                    <div class="mu-features-content">
                        <h2 >Rechte der betroffenen Person</h2><br>
                        <p>
                            Ihnen stehen bei Vorliegen der gesetzlichen Voraussetzungen folgende Rechte nach Art. 15 bis 20 DSGVO zu: Recht auf Auskunft, auf Berichtigung, auf Löschung, auf Einschränkung der Verarbeitung, auf Datenübertragbarkeit.
                            Außerdem steht Ihnen nach Art. 21 (1) DSGVO ein Widerspruchsrecht gegen die Verarbeitungen zu, die auf Art. 6 (1) f DSGVO beruhen, sowie gegen die Verarbeitung zum Zwecke von Direktwerbung.

                            Kontaktieren Sie uns auf Wunsch. Die Kontaktdaten finden Sie in unserem Impressum.
                        </p><p>
                        </p></div>

                    <div class="mu-features-content">
                        <h2>Beschwerderecht bei der Aufsichtsbehörde</h2><br>
                        <p>
                            Sie haben gemäß Art. 77 DSGVO das Recht, sich bei der Aufsichtsbehörde zu beschweren, wenn Sie der Ansicht sind, dass die Verarbeitung Ihrer personenbezogenen Daten nicht rechtmäßig erfolgt.
                        </p><p>
                        </p></div>
                    <div class="mu-features-content">
                        <h2>Weitere Informationen</h2><br>
                        <p>
                            Ihr Vertrauen ist uns wichtig. Daher möchten wir Ihnen jederzeit Rede und Antwort bezüglich der Verarbeitung
                            Ihrer personenbezogenen Daten stehen. Wenn Sie Fragen haben, die Ihnen diese Datenschutzerklärung nicht
                            beantworten konnte oder wenn Sie zu einem Punkt vertiefte Informationen wünschen, wenden Sie sich bitte jederzeit an uns.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
