{% extends 'base.html.twig' %}

{% block title %}Rezepte{% endblock %}

{% block body %}
    <main>
        <section class="pt-80 pb-110">
            <div class="container">
                <div class="recipes-wrapper">
                    <div class="row">
                        {% for recipe in recipes %}
                            {% include 'recipe/recipe-Item.html.twig' %}
                        {% endfor %}
                    </div>
                </div>

            </div>
        </section>

    </main>
{% endblock %}
