<div class="col-lg-4 col-md-6">
    <div class="recipe-carousel-item">
        <figure class="mb-4">
            <a class="fs-16 text-uppercase" href="{{ path('recipe_detail',{ id:recipe.id }) }}" title="{{ recipe.title }}">
                <img src="{{ recipe.image }}" alt="{{ recipe.title }}">
            </a>
        </figure>
        <div class="recipe-info position-relative">
            <h2 class="fs-26"><a href="{{ path('recipe_detail',{ id:recipe.id }) }}">{{ recipe.title }}</a></h2>
            <span class="fs-16 text-theme text-uppercase">von {{ recipe.username }}</span>
            <a class="fs-16 text-uppercase" href="{{ path('recipe_detail',{ id:recipe.id }) }}" title="{{ recipe.title }}">zum Rezept<i class="fa fa-angle-right"></i></a>
        </div>
    </div>
</div>