<div class="recipe-list-item position-relative">
    <figure class="mb-0">
        <a href="{{ path('recipe_detail',{id:recipe.id}) }}" >
            <div class="bottle-preview bottle-recipe">
                <img class="bottle-base" src="/assets/images/bottle/base_bottle.png" />

                {% for ingredients in recipe.ingredients %}
                    <img class="bottle-overlay" src="/assets/images/bottle/{{ ingredients.overlay }}.png" />
                {% endfor %}

                <span class="bottle-overlay-text"><p><b>{{ recipe.title }}</b></p></span>
            </div>
        </a>
    </figure>
    <div class="recipe-info-box position-relative">
        <div class="recipe-meta clearfix">
            <div class="recipe-title position-relative d-inline-block">
                <h2 class="fs-26 mb-1">{{ recipe.title }}</h2>
                <span class="fs-16 text-theme text-uppercase">von {{ recipe.username }}</span>
            </div>
            <div class="recipe-rating text-center bg-white float-right d-inline-block">
                <span class="text-gray fs-16 d-block">({{ recipe.ranking }} /5)</span>
                <div class="recipe-rating-stars">
                    {% if recipe.ranking >= 1 and recipe.ranking < 2 %}
                        <i style="color: gold" class="fa fa-star"></i>
                        <i style="color: gray" class="fa fa-star"></i>
                        <i style="color: gray" class="fa fa-star"></i>
                        <i style="color: gray" class="fa fa-star"></i>
                        <i style="color: gray" class="fa fa-star"></i>
                    {% elseif recipe.ranking >= 2 and recipe.ranking < 3 %}
                        <i style="color: gold" class="fa fa-star"></i>
                        <i style="color: gold" class="fa fa-star"></i>
                        <i style="color: gray" class="fa fa-star"></i>
                        <i style="color: gray" class="fa fa-star"></i>
                        <i style="color: gray" class="fa fa-star"></i>
                    {% elseif recipe.ranking >= 3 and recipe.ranking < 4 %}
                        <i style="color: gold" class="fa fa-star"></i>
                        <i style="color: gold" class="fa fa-star"></i>
                        <i style="color: gold" class="fa fa-star"></i>
                        <i style="color: gray" class="fa fa-star"></i>
                        <i style="color: gray" class="fa fa-star"></i>
                    {% elseif recipe.ranking >= 4 and recipe.ranking < 5 %}
                        <i style="color: gold" class="fa fa-star"></i>
                        <i style="color: gold" class="fa fa-star"></i>
                        <i style="color: gold" class="fa fa-star"></i>
                        <i style="color: gold" class="fa fa-star"></i>
                        <i style="color: gray" class="fa fa-star"></i>
                    {% elseif recipe.ranking == 5 %}
                        <i style="color: gold" class="fa fa-star"></i>
                        <i style="color: gold" class="fa fa-star"></i>
                        <i style="color: gold" class="fa fa-star"></i>
                        <i style="color: gold" class="fa fa-star"></i>
                        <i style="color: gold" class="fa fa-star"></i>
                    {% else %}
                        <i style="color: gray" class="fa fa-star"></i>
                        <i style="color: gray" class="fa fa-star"></i>
                        <i style="color: gray" class="fa fa-star"></i>
                        <i style="color: gray" class="fa fa-star"></i>
                        <i style="color: gray" class="fa fa-star"></i>
                    {% endif %}
                </div>
            </div>
        </div>
        <ul class="recipe-cokng-meta p-0 list-unstyled mb-0 mt-2">
            {% for ingredients in recipe.ingredients %}
                <li class="fs-16 fm-arimo text-gray position-relative"><strong>{{ ingredients.lot }}</strong> {{ ingredients.unit }} {{ ingredients.oil }}</li>
            {% endfor %}
        </ul>
        <a class="rounded-circle text-center bg-theme text-white ml-auto" href="{{ path('recipe_detail',{id:recipe.id}) }}" title="">
            <i class="flaticon-next"></i>
        </a>
        <p>{{ recipe.additional }}</p>
    </div>
</div>
