{% extends 'base.html.twig' %}

{% block title %}Hello MyRecipesController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-12 mx-auto">
                <div id="comments" class="bg-gray mt-5">
                    <div class="comments-thread">
                        <h4 class="mb-4">{{ recipes|length }} Rezept{% if recipes|length > 1 %}e{% endif %}</h4>
                        <ul class="comments-list mb-0 list-unstyled">
                            <li>
                                {% for recipe in recipes %}
                                    <div class="comment comment-box position-relative">
                                        <div class="comment-meta d-flex align-items-center mb-2">
                                            <h5 class="mb-0">{{ recipe.title }}</h5>
                                            <span class="text-theme ml-3">{{ recipe.published }}</span>
                                        </div>
                                        <p class="mb-0">{{ recipe.description }}</p>
                                        <ol style="list-style:circle">
                                            {% for ingredients in recipe.ingredients %}
                                                <li class="fs-16 fm-arimo text-gray position-relative"><strong>{{ ingredients.lot }}</strong> {{ ingredients.unit }} {{ ingredients.oil }}</li>
                                            {% endfor %}
                                        </ol>
                                        <a href="{{ path('recipe_delete',{id:recipe.id}) }}" class="comment-reply-link text-white fs-14">LÖSCHEN</a>
                                    </div>
                                {% endfor %}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
