{% extends 'base.html.twig' %}


{% block title %}Blogbeitrag bearbeiten | {{ blogArticle.title }}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="/assets/css/editor.min.css">
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <h3 class="contact-icon-title">Blogbeitrag bearbeiten</h3>
            <div class="col-lg-12">
                <div class="row">

                    <div class="col-lg-12 col-md-12">
                        <form id="form" method="post">
                            <div>
                                <div>
                                    <input type="text" name="title" value="{{ blogArticle.title }}" placeholder="Titel" required>
                                </div>
                                <div>
                                    <input type="text" name="description" value="{{ blogArticle.description }}" placeholder="Kurzbeschreibung" required>
                                </div>
                                <div class="row">
                                    <div class="col-lg-2 col-md-2">
                                        <a data-toggle="modal" data-target="#ImageModal">
                                            <img class="preview-image" style="width: 100%" src="{{ blogArticle.image }}" >
                                        </a>
                                    </div>
                                    <div class="col-lg-10 col-md-10">
                                        <input type="text" class="preview-image-text" name="image" value="{{ blogArticle.image }}" placeholder="URL: Vorschaubild" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-2 col-md-2">
                                        <a data-toggle="modal" data-target="#ImageBannerModal">
                                            <img class="preview-image-banner" style="width: 100%" src="{{ blogArticle.banner }}" >
                                        </a>
                                    </div>
                                    <div class="col-lg-10 col-md-10">
                                        <input type="text" class="preview-image-banner-text" name="banner" value="{{ blogArticle.banner }}" placeholder="URL: Bannerbild" value="/assets/images/resources/blog-detail.jpg" required>
                                    </div>
                                </div>
                                <div>

                                </div>
                                <div>
                                    <input type="checkbox" id="active" name="active"
                                           value="{% if blogArticle.active == true %}1{% else %}0{% endif %}"
                                            {% if blogArticle.active == true %} checked {% endif %}
                                    >
                                    <label for="active"> Aktiv</label>
                                </div>
                                <div>


                                    <div class="container">
                                        <div id="editor">
                                            <div id="tools">
                                                {% include 'text_editor/head.html.twig' %}
                                            </div>
                                            <div id="input" contenteditable="true">{{ blogArticle.content | raw}}</div>
                                            <div id="counter">0</div>
                                            <textarea type="hidden" name="content" id="output" cols="30" rows="10">{{ blogArticle.content | raw}}</textarea>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div>
                                    <button type="submit" class="theme-btn-secondary">Speichern</button>
                                </div>
                            </div>
                        </form>
                        <br>
                    </div>
                    <div class="col-lg-7 col-md-12">
                        <div>
                            <p class="fs-18">Wozu einen Blogbeitrag schreiben?</p>
                            <ul>
                                <li>Jeder Blogartikel bedeutet eine höhere Chance mit der Suchmaschine gefunden zu werden.</li>
                                <li>Du wirst als Experte wahrgenommen</li>
                                <li>Blogartikel sind Link-Köder</li>
                                <li>Dialoge binden Interessenten und Kunden</li>
                            </ul>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'blog/blog-image-choos-list.html.twig' %}

{% endblock %}

{% block additionaljavaScriptsEnd %}
    <script src="/assets/js/editor.min.js"></script>
    <script src="/assets/js/form-image-select.js"></script>
{% endblock %}

