{% extends 'base.html.twig' %}

{% block title %}Blogbeitrag erstellen{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <h3 class="contact-icon-title">Blogbeitrag erstellen</h3>
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <form id="form" method="post">
                            <div>
                                <div>
                                    <input type="text" name="title" placeholder="Titel" required>
                                </div>
                                <div>
                                    <input type="text" name="description" placeholder="Kurzbeschreibung" required>
                                </div>
                                <div class="row">
                                    <div class="col-lg-2 col-md-2">
                                        <a data-toggle="modal" data-target="#ImageModal">
                                            <img class="preview-image" style="width: 100%" src="/assets/images/resources/placeholder-blog-preview-image.jpg" >
                                        </a>
                                    </div>
                                    <div class="col-lg-10 col-md-10">
                                        <input type="text" class="preview-image-text" name="image" value="" placeholder="URL: Vorschaubild" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-2 col-md-2">
                                        <a data-toggle="modal" data-target="#ImageBannerModal">
                                            <img class="preview-image-banner" style="width: 100%" src="/assets/images/resources/placeholder-blog-preview-image.jpg" >
                                        </a>
                                    </div>
                                    <div class="col-lg-10 col-md-10">
                                        <input type="text" class="preview-image-banner-text" name="banner" value="" placeholder="URL: Bannerbild" value="/assets/images/resources/blog-detail.jpg" required>
                                    </div>
                                </div>
                                <div>
                                    <input type="checkbox" id="active" name="active" value="1">
                                    <label for="active"> Aktiv</label>
                                </div>
                                <div>
                                    {% include 'text_editor/index.html.twig' %}
                                </div>
                                <hr>
                                <div>
                                    <button type="submit" class="theme-btn-secondary">Speichern</button>
                                </div>
                            </div>
                        </form>
                        <br>
                    </div>

                </div>
            </div>
        </div>
    </div>

    {% include 'blog/blog-image-choos-list.html.twig' %}

{% endblock %}

{% block additionaljavaScriptsEnd %}
    <script src="/assets/js/form-image-select.js"></script>
{% endblock %}
