<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Aroma-Rezepte.de{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.ico">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/flaticon.css">
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="/assets/css/animate.css">
    <link rel="stylesheet" href="/assets/css/color.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/responsive.css">
    {% block stylesheets %}

    {% endblock %}

    {% block metaOG %}
    {% endblock %}

    {% block javascripts %}{% endblock %}
</head>
<body>

{% block preloader %}
    {# <div class="preloader js-preloader flex-center"> #}

    {# <div class="dots"> #}
    {# <div class="dot"></div> #}

    {# <div class="dot"></div> #}

    {# <div class="dot"></div> #}

    {# </div> #}

    {# </div> #}
{% endblock %}

{% block header %}
    <header class="style1 style2 position-relative">
        <div class="container">
            <nav class="navbar navbar-expand-lg">
                <div class="logo">
                    <a class="navbar-brand" href="{{ path('index') }}">
                        <img src="/assets/images/logo.png" alt="">
                    </a>
                </div>
                <div class="site-menu-wrapper ml-auto collapse navbar-collapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown position-relative">
                            <a class="nav-link" href="{{ path('index') }}" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false">
                                Start
                            </a>
                        </li>
                        <li class="nav-item dropdown position-relative">
                            <a class="nav-link" href="{{ path('recipe') }}" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false">
                                Rezepte
                            </a>
                        </li>
                        <li class="nav-item dropdown position-relative">
                            <a class="nav-link" href="{{ path('blog') }}" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false">
                                Blog
                            </a>
                        </li>
                        <li class="nav-item dropdown position-relative">
                            <a class="nav-link" href="javascript:void(0)" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false">
                                Öle
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <li><a class="dropdown-item" href="{{ path('blog_detail',{ id: 1}) }}">PFLEGE-ÖL</a>
                                </li>
                                <li><a class="dropdown-item" href="{{ path('blog_detail',{ id: 2}) }}">ZITRONEN-ÖL</a>
                                </li>
                                <li><a class="dropdown-item" href="{{ path('blog_detail',{ id: 3}) }}">ORANGEN-ÖL</a>
                                </li>
                                <li><a class="dropdown-item" href="{{ path('blog_detail',{ id: 4}) }}">BERGAMOTTE-ÖL</a>
                                </li>
                                <li><a class="dropdown-item" href="{{ path('blog_detail',{ id: 5}) }}">EUKALYPTUS-ÖL</a>
                                </li>
                                <li><a class="dropdown-item"
                                       href="{{ path('blog_detail',{ id: 6}) }}">PFEFFERMINZ-ÖL</a></li>
                                <li><a class="dropdown-item" href="{{ path('blog_detail',{ id: 7}) }}">LAVENDEL-ÖL</a>
                                </li>
                                <li><a class="dropdown-item" href="{{ path('blog_detail',{ id: 8}) }}">THYMIAN-ÖL</a>
                                </li>
                                <li><a class="dropdown-item" href="{{ path('blog_detail',{ id: 9}) }}">ZEDERN-ÖL</a>
                                </li>
                            </ul>
                        </li>
                        {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                            <li class="nav-item dropdown position-relative">
                                <a class="nav-link" href="{{ path('app_login') }}" role="button"
                                   data-bs-toggle="dropdown"
                                   aria-expanded="false">
                                    Login
                                </a>
                            </li>

                        {% endif %}

                    </ul>
                    <div class="site-menu-btns d-flex">
                        <div><a class="theme-btn-secondary" href="{{ path('create_recipe') }}" title="">Rezept
                                schreiben</a></div>
                    </div>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item dropdown position-relative">
                                <a class="nav-link" href="javascript:void(0)" role="button" data-bs-toggle="dropdown"
                                   aria-expanded="false">
                                    {{ app.user.username }} <i class="fas fa-sort-down"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-dark">
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <li class="dropdown-item"><a href="{{ path('admin') }}">Admin</a></li>
                                    {% endif %}
                                    {% if is_granted('ROLE_CREATOR') %}
                                        <li><a class="dropdown-item" href="{{ path('user_setup') }}">Creator</a></li>
                                    {% endif %}
                                    <li><a class="dropdown-item" href="{{ path('my_recipes') }}">Meine Rezepte</a></li>
                                    <li><a class="dropdown-item" href="{{ path('favorites') }}">Meine Favoriten</a></li>
                                    <li><a class="dropdown-item" href="{{ path('app_logout') }}">Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    {% endif %}
                </div>
                <div class="navbar-toggler active">
                    <span></span><span></span><span></span>
                </div>
            </nav>
            <div class="nav-menu menu-on active" style="width: 0px;">
                <!-- navbar-close -->
                <div class="navbar-close">
                    <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                </div>
                <!-- main menu -->
                <nav class="main-menu">
                    <ul>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            {% if is_granted('ROLE_ADMIN') %}
                                <li class="home-drop"><a href="{{ path('admin') }}">Admin</a></li>
                            {% endif %}
                            {% if is_granted('ROLE_CREATOR') %}
                                <li class="home-drop"><a href="{{ path('user_setup') }}">Creator</a></li>
                            {% endif %}
                            <li class="home-drop"><a href="{{ path('my_recipes') }}">Meine Rezepte</a></li>
                            <li class="home-drop"><a href="{{ path('favorites') }}">Meine Favoriten</a></li>
                            <hr>
                        {% endif %}
                        <li class="home-drop"><a href="{{ path('index') }}">Start</a></li>
                        <li class="home-drop"><a href="{{ path('recipe') }}">Rezepte</a></li>
                        <li class="home-drop"><a href="{{ path('blog') }}">Blog</a></li>
                        <li class="home-drop"><a href="{{ path('create_recipe') }}">Rezept schreiben</a></li>
                        <hr>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <li class="home-drop" style="padding-bottom: 0px;"><a href="{{ path('app_logout') }}">Logout</a></li>
                        {% else %}
                            <li class="home-drop" style="padding-bottom: 0px;"><a href="{{ path('app_login') }}">Login</a></li>
                        {% endif %}
                        <hr>
                        <li class="home-drop" style="color: black"><b>Öle:</b></li>
                        <li><a href="{{ path('blog_detail',{ id: 1}) }}"> - PFLEGE-ÖL</a></li>
                        <li><a href="{{ path('blog_detail',{ id: 2}) }}"> - ZITRONEN-ÖL</a></li>
                        <li><a href="{{ path('blog_detail',{ id: 3}) }}"> - ORANGEN-ÖL</a></li>
                        <li><a href="{{ path('blog_detail',{ id: 4}) }}"> - BERGAMOTTE-ÖL</a></li>
                        <li><a href="{{ path('blog_detail',{ id: 5}) }}"> - EUKALYPTUS-ÖL</a></li>
                        <li><a href="{{ path('blog_detail',{ id: 6}) }}"> - PFEFFERMINZ-ÖL</a></li>
                        <li><a href="{{ path('blog_detail',{ id: 7}) }}"> - LAVENDEL-ÖL</a></li>
                        <li><a href="{{ path('blog_detail',{ id: 8}) }}"> - THYMIAN-ÖL</a></li>
                        <li><a href="{{ path('blog_detail',{ id: 9}) }}"> - ZEDERN-ÖL</a></li>
                    </ul>
                </nav>
            </div>


        </div>
    </header>
{% endblock %}

{% block slider %}{% endblock %}

{% block flashes %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}
{% endblock %}

{% block body %}{% endblock %}

{% block footer %}{% include 'footer/footer.html.twig' %}{% endblock %}


{% block javaScriptsEnd %}
    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/wow.min.js"></script>
    <script src="/assets/js/owl.carousel.min.js"></script>
    <script src="/assets/js/jquery.fancybox.min.js"></script>
    <script src="/assets/js/tilt.jquery.min.js"></script>
    <script src="/assets/js/script.js"></script>
{% endblock %}

{% block additionaljavaScriptsEnd %}{% endblock %}

</body>
</html>
