{% extends 'base.html.twig' %}

{% block title %}Hello FavoritesController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-12 mx-auto">
                <div id="comments">
                    <div class="comments-thread">
                        <h4 class="mb-4">{{ favorites|length }} Favoriten</h4>
                        <ul class="comments-list mb-0 list-unstyled">
                            {% if favorites|length > 0 %}
                               {% for recipe in favorites %}
                                   <div style="padding-bottom: 15px">
                                   {% include '/recipe/recipe-Item.html.twig' %}
                                   </div>
                                {% endfor %}
                            {% endif %}
                            <li></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
